#photo {
	height: 300px;
	border-radius: 50%;
	border-style: solid;
	border-color: white;
}

body {background-color: gray;
  font-family: 'Space Mono', monospace;
  background-image: url("./images/bg3.jpg");
  color: white;
  background-size: cover;
  background-repeat:no-repeat;
  
}

img {
	max-width: 100%;
	height: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: auto;
}

p {
	font-size: 150%;
}

#fullstack {
	font-style: italic;
}

button {
  
  font-weight: bold;
}
